<h1>|| Movies ||</h1>
<br>

<div class="all-movies">
  <div class="main-movie-container">
    <% @movies.each do |m| %>
      <a href="/movies/<%= m.id %>">
        <span class="movie-container">
          <img src="<%= m.image_url %>" class="movie_img">
          <h3><%= m.name %> | <%= m.year %> | <%= m.category %></h3>
        </span>
      </a>
        <span class="movie-rating">

        </span>
    <% end %>
  </div>
</div>
<br>
  <div class="divider">
  </div>
<br>
<h2>Add New Movie</h2>

<% if @movie.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

    <ul>
    <% @movie.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="new-form">
  <span>
    <%= form_for @movie do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %>
      <br>
      <%= f.label :year %>
      <%= f.text_field :year %>
      <br>
      <%= f.label :category %>
      <%= f.text_field :category %>
      <br>
      <%= f.label :image_url %>
      <%= f.text_field :image_url %>
      <br><br>
      <%= f.submit "Submit" %>
    <% end %>
  </span>
</div>
