<style>
  body {
    background-image: url('<%= @movie.image_url %>');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div class="movie-show-background">

  <div class="movie-show-info">
    <h1> <%= thumbs_rating(@avg_rating) %>  <%= @movie.name %>  <%= thumbs_rating(@avg_rating) %></h1>
    <div>
      <h3><%= @movie.year %> | <%= @movie.category %> | <%= link_to "Edit", edit_movie_path, class: "edit" %></h3>
      <br>
    </div>

    <div>
      <% if @movie.events.size > 0 %>
        <h2> Upcoming Viewing Events </h2>
          <% @movie.events.each do |e| %>
            <a href="/events/<%= e.id %>">
              <span>
                <%= e.title %><br>
                <%= e.date %> | <%= e.time %><br>
                <%= e.location %>
              </span>
            </a>
          <% end %>
      <% end %>
    </div>

    <div class="form-dividers">
      <% if !@seen %>
      <div class="seen-button">
      <h3> Have you Seen This Movie? </h3>
      <%= form_for @list do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :movie_id, value: params[:id] %>
        <%= f.hidden_field :watched, value: true %>
        <%= f.submit "Seen It" %>
      <% end %>
      </div>
      <% end %>
      <% if @seen %>
      <div>
      <h3> Do you Recommend? </h3>
        <div class="thumbs">
        <div class="thumbs-up" class="<%= @user_rated %>">
            <%= form_for @rating do |f| %>
              <%= f.hidden_field :user_id, value: current_user.id %>
              <%= f.hidden_field :movie_id, value: params[:id] %>
              <%= f.hidden_field :recommend, value: true %>
              <%= f.submit "Thumbs Up", type: "image", src: 'https://image.flaticon.com/icons/svg/25/25297.svg', class: "icon" %>
            <% end %>
        </div>

        <div class="thumbs-down" class="<%= @user_rated %>">
          <%= form_for @rating do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :movie_id, value: params[:id] %>
            <%= f.hidden_field :recommend, value: false %>
            <%= f.submit "Thumbs Down", type: "image", src: 'https://image.flaticon.com/icons/png/512/25/25395.png', class: "icon" %>
          <% end %>
        </div>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>
