<style>
  body {
    background-image: url('<%= @movie.image_url %>');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<div class="movie-show-background">

  <div class="movie-show-info">
    <h1> <%= thumbs_rating(@avg_rating) %>  <%= @movie.name %>  <%= thumbs_rating(@avg_rating) %></h1>
    <div>
      <h3><%= @movie.year %> | <%= @movie.category %> | <%= link_to "Edit", edit_movie_path, class: "edit" %></h3>
      <br>
    </div>

    <div class="two-column">
      <div class="left-column">
        <div>
          <% if @movie.events.size > 0 %>
            <h2> Upcoming Viewing Events </h2>
              <% @movie.events.each do |e| %>
                <a href="/events/<%= e.id %>">
                  <span class="events-info">
                    <%= e.title %> at <%= e.location %><br>
                    <%= e.datetime.strftime("%A, %m/%d/%Y") %> | <%= e.datetime.strftime("%I:%M%p")   %><br>
                  </span>
                </a>
              <% end %>
            <% else %>
            <h2> No Events Yet for this Movie </h2>
          <% end %>
        </div>
        <br>
          <div class="divider">
          </div>
        <br>
        <div class="form-dividers">
          <% if @seen %>
            <div>
            <h3> Do you Recommend? </h3>
              <div class="thumbs">
                <div class="<%= @thumbs_up %>">
                    <%= form_for @rating do |f| %>
                      <%= f.hidden_field :user_id, value: current_user.id %>
                      <%= f.hidden_field :movie_id, value: params[:id] %>
                      <%= f.hidden_field :recommend, value: true %>
                      <%= f.submit "Thumbs Up", type: "image", src: 'https://image.flaticon.com/icons/svg/25/25297.svg', class: "icon" %>
                    <% end %>
                </div>

                <div class="<%= @thumbs_down %>">
                  <%= form_for @rating do |f| %>
                    <%= f.hidden_field :user_id, value: current_user.id %>
                    <%= f.hidden_field :movie_id, value: params[:id] %>
                    <%= f.hidden_field :recommend, value: false %>
                    <%= f.submit "Thumbs Down", type: "image", src: 'https://image.flaticon.com/icons/png/512/25/25395.png', class: "icon" %>
                  <% end %>
                </div>
              </div>

          <% else %>
            <div class="seen-button">
              <h3> Have you Seen This Movie? </h3>
              <%= form_for @list do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :movie_id, value: params[:id] %>
                <%= f.hidden_field :watched, value: true %>
                <%= f.submit "Seen It" %>
              <% end %>
            </div>
          <% end %>

          </div>
        </div>
      </div>

      <div class="right-column">
        <h2> Create an Event </h2>
        <%= form_for @event do |f| %>
          <%= f.label :title %>
          <%= f.text_field :title %><br><br>

          <%= f.label :datetime %>
          <%= f.datetime_select :datetime %><br><br>

          <%= f.label :location %>
          <%= f.text_field :location %><br><br>

          <%= f.hidden_field :movie_id, value: params[:id] %>
          <%= f.hidden_field :host_id, value: current_user.id %>
          <center><%= f.submit "Create Event" %></center>
        <% end %>
      </div>
    </div>
  </div>
</div>
