<style>
  body {
    background-image: url('https://images.unsplash.com/photo-1518676590629-3dcbd9c5a5c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1728&q=80');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>

<h1>|| Events ||</h1>
<br>

<% @events.each do |e| %>
  <a href="/events/<%= e.id %>">
    <span>
      <h3><%= e.title %> at <%= e.location %> || <%= e.datetime.strftime("%A, %m/%d/%Y") %> | <%= e.datetime.strftime("%I:%M%p")   %></h3>
    </span>
  </a>
<% end %>
